<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Concussion Assessment App - Cerebrum</h1>

    <h3>Privacy Policy:</h3>
    <ul>
      <li>
          We respect your privacy. We won’t use your E-mail id and name other than sending you an assessment report ( if you have opted in ) or use any of your information to contact you in any other way.

      </li>
      <li>
          We won’t share your personal data e.g. E-mail id, Contact Number with any third party which is not directly related with the Concussion Assessment App.
      </li>
    </ul>

  </body>
</html>
